		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="http://www.instagram.com/aliciaathome" class="icon fa-instagram"><span class="label">@AliciaAtHome</span> @AliciaAtHome</a></li>
					<li><a href="http://www.instagram.com/thebasecoat" class="icon fa-instagram"><span class="label">@TheBaseCoat</span> @TheBaseCoat</a></li>
					<li><a href="http://www.instagram.com/aliciabeazley" class="icon fa-instagram"><span class="label">@AliciaBeazley</span> @AliciaBeazley</a> </li>
	
				
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					<li> Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
				</ul>
			</footer>

	</body>
</html>