<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ site.baseurl }}/index.html">ALICIA AT HOME</a></h1>
		<nav id="nav">
			<ul>
			<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
				<li><a href="https://www.instagram.com/aliciaathome" class="button">Instagram</a></li>
			</ul>
		</nav>
	</header>
