---
title: Blog
layout: default
---
<section class="box special">
	<center><header class="major">
		<h2></h2>
	</header>
		{% for post in site.posts offset: 0 limit: 1 %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<span class="date">{{ post.date | date_to_string }}</span></center>
			<section class="box special">
				{{ post.content | remove: '<p>' | remove: '</p>' }}
			
			</section>
		{% endfor %}
</section>
